.three-d h1
{
    margin: 100px 0 80px 0;
}

.three-d h2
{
    margin: 0 0 10px 0;
}

#photogrammetry
{
    padding-bottom: 50px;
    margin-bottom: 80px;
    border-bottom: 1px solid #cccccc;
}

.three-d .image-container:nth-of-type(1)
{
    margin-top: 50px;
}

#nft
{
    margin-bottom: 120px;
}