h2
{
    font-size: 100px;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 100px;
    color: rgb(216, 216, 216);
}

#about
{
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
    margin-bottom: 50px;
    border-bottom: 1px solid rgb(180, 180, 180);
}

#about div
{
    margin: 50px;
}

@media(min-width: 800px)
{
    #about
    {
        flex-direction: row;
    }
}

.grid
{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    padding: 0 150px;
    grid-auto-rows: minmax(50px, auto);
    align-items: center;
    justify-items: center;
}

.grid div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid h3
{
    position: absolute;
    opacity: 0;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
    transform: translateY(40px);
}

.grid img
{
    width: 50px;
    height: 50px;
    padding: 10px;
    opacity: 0.7;
    transition: 0.2s;
}

.grid img:hover
{
    opacity: 1;
}

.grid img:hover + h3
{
    opacity: 1;
    transform: translateY(50px);
}