#about
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

@media(min-width: 750px)
{
    #about
    {
        flex-direction: row;
        align-items: flex-start;
    }
}

#about img
{
    width: 100%;
    max-width: 400px;
    z-index: 1;
}

@media(min-width: 750px)
{
    #about img
    {
        /* width: 30%; */
    }
}

#about .gradient
{
    position: absolute;
    /* top: 200px;
    width: 2000px;
    height: 400px; */
}

#about div
{
    margin: 20px 0 0 0;
}

@media(min-width: 750px)
{
    #about div
    {
        padding: 0 0 0 80px;
    }
}

#about h2
{
    margin: 50px 0;
    text-align: center;
}

@media(min-width: 750px)
{
    #about h2
    {
        text-align: left;
    }
}

/* _______________________________________________ SKILLS */

#skills
{
    position: relative;
    padding: 100px 0;
    z-index: 1;
}

#skills:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX( -50%);
    height: 100%;
    width: 100vw;
    background: var(--bg-light-grey);
    z-index: -1;
}

#skills h3
{
    text-align: center;
    margin-bottom: 10px;
}

#skills p
{
    text-align: center;
    margin-bottom: 50px;
}

#skills-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    box-sizing: border-box;
    margin: auto;
    align-items: center;
    justify-items: center;
    z-index: 1;
    max-width: 600px;
}

@media(min-width: 750px)
{
    #skills-grid
    {
        max-width: 700px;
    }
}

#skills-grid div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 260px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    transition: 0.2s all;
}

#skills-grid div:hover
{
    background-color: var(--bg-white);
    box-shadow: 0 0 20px #00000010;
}

#skills-grid div p
{
    text-align: center;
    line-height: 22px;
    max-width: 160px;
}

#skills-grid div h4
{
    text-align: center;
    margin-bottom: 8px;
}

@media(min-width: 750px)
{
    #skills-grid div p
    {
        max-width: 180px;
    }
}

#skills-grid img
{
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
}