#contact h2
{
    text-align: center;
    margin: 100px 0 40px 0;
}

#contact p
{
    text-align: center;
    margin: auto;
    max-width: 330px;
}

@media(min-width: 750px)
{
    #contact p
    {
        max-width: 380px;
    }
}

#contact form
{
    box-sizing: border-box;
    margin: 50px auto 100px auto;
    width: min(600px, 100%);
    padding: 0 20px;
}

@media(min-width: 750px)
{
    #contact form
    {
        margin: 100px auto 200px auto;
    }
}

#contact form label
{
    font-size: 15px;
    font-weight: 400;
}

#contact form input
{
    background: none;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    margin: 5px 0 20px 0;
    font-family: 'Montserrat', sans-serif;
}

#contact form input:focus
{
    border: 2px solid var(--highlight);
    outline: none;
}

#contact form textarea
{
    background: none;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
    box-sizing: border-box;
    width: 100%;
    height: 10em;
    padding: 10px;
    margin: 5px 0 20px 0;
    resize: vertical;
    min-height: 40px;
    max-height: 500px;
    font-family: 'Montserrat', sans-serif;
}

#contact form textarea:focus
{
    border: 2px solid var(--highlight);
    outline: none;
}

#contact form button
{
    width: 100%;
    height: 40px;
    border-radius: 0.4em;
    border: none;
    background-color: var(--light-grey);
    font-family: 'Montserrat', sans-serif;
    color: var(--highlight);
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s background-color;
}

#contact form button:hover
{
    background-color: #d6dbde;
}

#contact form button.success
{
    content: 'Message sent!'
}

/* _______________________________________________ SUCCESS */

#success h2
{
    margin-top: 200px;
}

#success h3
{
    text-align: center;
    margin-bottom: 200px;
}