#model-viewer-header img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    padding: 10px;
    color: white;
    background: none;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.webgl
{
    cursor: grab;
}