.project-content
{
    line-height: 0px;
}

.project-header
{
    margin-top: 80px;
    margin-bottom: 80px;
}

.project-header h1
{
    margin-bottom: 32px;
}

.project-header h2
{
    margin-bottom: 40px;
    color: var(--light-grey);
}

.skills-container
{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 80px;
}

/* .skills-container span
{
    font-size: 15px;
    font-weight: bold;
    color: var(--mid-grey);
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000005;
    padding: 2px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
} */

.skills-container span
{
    font-size: 11px;
    font-weight: 600;
    color: var(--light-grey);
    background-color: #ffffff;
    box-shadow: 0 0 10px #00000005;
    padding: 0px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
    border-radius: 20px;
}

hr
{
    border: 0.5px solid #dddddd;
}

.work #work-container
{
    margin-top: 80px;
    margin-bottom: 120px;
}

@media(min-width: 480px)
{
    .work #work-container
    {
        margin-top: 120px;
        margin-bottom: 160px;
    }
}

@media(min-width: 750px)
{
    .work #work-container
    {
        margin-top: 120px;
        margin-bottom: 200px;
    }
}

.work .work-thumbnail
{
    width: 100%;
    /* max-width: 750px; */
    margin: auto;
    padding-bottom: 8px;
}

.work-image-container
{
    position: relative;
    height: 160px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: #ebecf0;
    border-radius: 12px;
    transition: 0.5s ease all;
    cursor: pointer;
    transform: skewY(-5deg);
}

@media(min-width: 480px)
{
    .work-image-container
    {
        height: 220px;
    }
}

@media(min-width: 750px)
{
    .work-image-container
    {
        height: 260px;
    }
}

.work-image-container::after
{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    transition: 0.5s ease all;
  }
  
.work-image-container:hover::after
{
    opacity: 0.1;
}

.work-image-container:hover img
{
    filter: blur(30px);
}

.work-image-container:hover .work-text-container
{
    opacity: 1;
}

.work-image-container:hover
{
    height: 220px;
}

@media(min-width: 480px)
{
    .work-image-container:hover
    {
        height: 300px;
    }
}

@media(min-width: 750px)
{
    .work-image-container:hover
    {
        height: 360px;
    }
}

.work-image-container img
{
    position: relative;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: 0.5s ease all;
    transform: skewY(5deg);
}

#meta img
{
    width: 170px;
    height: 170px;
}

@media(min-width: 480px)
{
    #meta img
    {
        width: 220px;
        height: 220px;
    }
}

@media(min-width: 750px)
{
    #meta img
    {
        width: 280px;
        height: 280px;
    }
}

#customuse img
{
    width: 220px;
    height: 220px;
    top: 30px;
}

@media(min-width: 480px)
{
    #customuse img
    {
        width: 310px;
        height: 310px;
        top: 45px;
    }
}

@media(min-width: 750px)
{
    #customuse img
    {
        width: 400px;
        height: 400px;
        top: 70px;
    }
}

#litho img
{
    width: 180px;
    height: 180px;
}

@media(min-width: 480px)
{
    #litho img
    {
        width: 250px;
        height: 250px;
    }
}

@media(min-width: 750px)
{
    #litho img
    {
        width: 300px;
        height: 300px;
    }
}

#endfield img
{
    width: 250px;
    height: 250px;
}

@media(min-width: 480px)
{
    #endfield img
    {
        width: 325px;
        height: 325px;
    }
}

@media(min-width: 750px)
{
    #endfield img
    {
        width: 400px;
        height: 400px;
    }
}

#other img
{
    width: 250px;
    height: 250px;
}

@media(min-width: 480px)
{
    #other img
    {
        width: 325px;
        height: 325px;
    }
}

@media(min-width: 750px)
{
    #other img
    {
        width: 400px;
        height: 400px;
    }
}

.work-text-container
{
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
    color: white;
    pointer-events: none;
    opacity: 0;
    transform: skewY(5deg);
    transition: 0.5s ease all;
}

.work-text-container h3
{
    font-size: 20px;
    margin-bottom: 10px;
}

.work-text-container p
{
    margin: 0;
}

.work-text-container span
{
    font-size: 12px;
    background-color: #ffffff30;
    padding: 5px 16px;
    border-radius: 20px;
    margin: 0 5px;
    box-shadow: 0 0 10px #00000010;
}