*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #000000;
}

body
{
    color:#ffffff;
    overflow: auto;
}

canvas
{
    position: fixed;
    top: 0;
    left: 0;
}

main
{
    position: absolute;
    width: 100vw;
}

.heading
{
    position: relative;
    padding-top: 45vh;
    padding-bottom: 8px;
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 4vh;
    letter-spacing: 12px;
}

.subheading
{
    position: relative;
    padding-bottom: 50vh;
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 2vh;
    letter-spacing: 20px;
}

.lorem
{
    color: white;
    position: relative;
    padding: 10vw;
}