*
{
    margin: 0;
    padding: 0;
}

html
{
    background: #000000;
    /* scroll-behavior: smooth; */
}

body
{
    color:#ffffff;
    overflow: hidden;
}

canvas
{
    position: fixed;
    top: 0;
    left: 0;
}

main
{
    position: absolute;
    width: 100vw;
}

.button
{
    position: fixed;
    display: block;
    top: 90%;
    left: 50%;
    margin-left: -16px;
}

img
{
    opacity: 0.5;
    transition: opacity 0.1s ease-in-out; 
}
img:hover
{
    opacity:0.8;
    transition: opacity 0.1s ease-in-out;
}

.heading
{
    position: relative;
    padding-top: 48vh;
    padding-bottom: 8px;
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 4vh;
    letter-spacing: 12px;
}

.subheading
{
    position: relative;
    padding-bottom: 48vh;
    
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-weight: 100;
    font-size: 2vh;
    letter-spacing: 20px;
}

.lorem
{
    color: white;
    position: relative;
    padding: 10vw;
}